# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# nano

*.swp

# Other
/src/main/resources/assets/server_mobs/textures/entity/crocodile.png
/src/main/resources/assets/minecraft/textures/entity/wolf/
